

.splitleft{
    float: left;
    width:35%;
    height: 100vh;
    overflow-y: auto;
    white-space: nowrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color:#111;
}
.splitright{
  float: right;
  width:65%;
  height: 100vh;
  overflow-y: auto;
  white-space: nowrap;
  top: 0;
  background-color: lightgoldenrodyellow;
}

.h1{
    color: aqua;
    text-align: center;
}

.p1{
    color: yellowgreen ;
    padding-left: 2px;
}

.h2{
    text-align: center;
    background-color: darksalmon;
    width: 100%;
}

.p2{
    padding-left: 5px;
    width: 50px;
    word-wrap: break-word;
    display: inline-block;
}

.u2{
    padding-top: 5px;
}

.u1{
    padding-top: 5px;
    color: red;
}

.u11{
    padding-top: 5px;
}
}
